body {
    color: bisque;
    margin: 0px;
    padding: 0px;
    display: flex;
    background-image: url('images/5630939.jpg');
}

.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    margin: 2.5rem 0rem 1.5rem 0rem;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 20px;
}

.button-section button {
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
}

#round-description {
    visibility: hidden;

}

#score-text {
    visibility: hidden;
}